/*The header ection*/
.jumbotron{
    background-image: url('https://i.pinimg.com/236x/aa/50/9d/aa509df6dde078ece1745e875092fe67.jpg');
    background-size: cover;
    color: white;
    font-family: 'Kaushan Script', cursive;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
}

.overlay{
    background-size: cover;
    background-color: #EC7C2D;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 3px dashed #931F0D;
    padding: 3%;
}
.overlay h1{
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    padding: 3%;
    margin-top: 2%;
}

.overlay h1:not(:first-of-type){
    width: 55%;
    margin-left: 30%;
    border-left: 7px solid white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



.overlay hr{
    border: 5px solid #463C2E;
}
.fa-pizza-slice{
    font-size: 150px;
    color: white;
}

/*The shopping section*/
.shop{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #463C2E;
    background-size: cover;
    padding: 2%;
    border-radius: 30px;
    width: 97%;
}
.menu-head{
    background: #463C2E;
    width: 60%;
    border-radius: 30px;
}

.card{
    width: 320px;
    height: 600px;
    margin-bottom: 3%;
}

.shop .card-img-top{
    width: 100%;
    height: 300px;
}

.card:hover{
    box-shadow: 0 0 5px 3px #EAD7A2;
    outline: none;
    transition: o.2s;
}

.card hr{
    width: 50%;
    color: black;
}

select{
    background-color: #EC7C2D;
    width: 30%;
    padding: 3%;
}

select option{
    padding: 1%;
}

select option:hover{
    background-color: #BC5E30;
}

/*Styling the outlook of the cart*/

.cart{
    display: none;
}
.cart-item{
    border-bottom: 2px solid #931F0D;
}
.cart-item div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding-bottom: 2%;
}

.cart hr:first-of-type{
    border: 2px solid #EC7C2D;
}

.fa-shopping-cart{
    color: #463C2E;
    cursor: pointer;
}

#checkout{
    display: none;
}

